//Custom theme
$success: #74c82e;
$warning: #ffe749;
$dark: #000000;
$light: #fff;
$primary: #333333;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .page {
    height: 100vh;
    padding: 10vh 5vw;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
//Importataan alkuperäinen bootstrap styling
@import '~bootstrap/scss/bootstrap.scss';