//Custom theme
$success: #74c82e;
$warning: #ffe749;
$dark: #000000;
$light: #fff;
$primary: #333333;
$secondary: #F5F5F5;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

   /* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
  
  .page {
    position: relative;
    //height: 100vh;
    padding: 15vh 5vw;
  }

  @media only screen and (max-width: 768px) {
    .page{
      min-height: 100vh;
      height: auto;
    }
  }

  #frontpageVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: flex-end;
}

.navLinkCustom {
  font-size: 1.7rem;
  margin: 0 1.5rem;
}

//FRONTPAGE

.frontPage {
  height: 100vh;
}

.callToActionText {
  margin: 2rem 0;
  display: block;
  text-align: center;
  transform: rotateZ(-1deg);
  color: $light;
  font-size: 3rem;
}

.sloganLink {
  color: $light;
  text-decoration: underline;
}

//SEARCH PAGE

.searchDescription {
  text-align: center;
  width: 60%;
}

.SearchBarContainer {
  margin: 3rem 0 3rem 0;
  width: 55%;
}

.searchBar {
  min-width: 90%;
}

.CarouselContainer {
  min-height: 40vh;
  max-height: 35vh;
  padding: 30px;
  overflow-x: scroll;
  margin-bottom: 2.5rem;
}

.overlay{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 15vh;
  width: 80vw;
  max-height: 80vh;
  max-width: 150ch;
  overflow-y: scroll;
  background-color: $secondary;
  border-radius: 15px;
}

.overlayTitle {
  font-size: 2rem;
}

.overlayText {
  font-size: 1rem;
}

@media only screen and (max-width: 860px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    max-height: 100vh;
  }

  .overlayTitle {
    font-size: 1.8rem;
  }
  
  .overlayText {
    font-size: 1rem;
  }

  
.CarouselContainer {
  overflow-y: scroll;
}

.searchDescription{
  width:95%;
  overflow-wrap: break-word;
  }
}

//CAMPAIGN


.campaignText {
  margin-bottom: 3rem;
}

.statBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.7rem;

  h1 {
    font-size: 64px;
    font-weight: 700;
    color: #ffe749;
  }

  .statDesc {
    width: 65%;
    color: gray;
  }
}

//BLOGS

.blogContainer {
  display: flex;
  padding: 1% 10% 10% 10%;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .blogContainer {
    padding: 1%;
    flex-direction: column;
    align-items: center;
  }
  
}

//Divider
@media only screen and (max-width: 768px) {
.dividerText {
font-size: large;
}
}

//Importataan alkuperäinen bootstrap styling
@import '~bootstrap/scss/bootstrap.scss';