//Custom theme
$success: #74c82e;
$warning: #ffe749;
$dark: #000000;
$light: #fff;
$primary: #333333;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .page {
    position: relative;
    height: 100vh;
    padding: 10vh 5vw;
  }

  #frontpageVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    margin: 10%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: flex-end;
}

.navLinkCustom {
  font-size: 1.7rem;
  margin: 0 1.5rem;
}

//FRONTPAGE
.callToActionText {
  margin: 2rem 0;
  display: block;
  text-align: center;
  transform: rotateZ(-1deg);
  color: $light;
  font-size: 3rem;
}

.sloganLink {
  color: $light;
}
  
//Importataan alkuperäinen bootstrap styling
@import '~bootstrap/scss/bootstrap.scss';